@model IEnumerable<FinalProject.Models.Mod>

<h2>Mods</h2>

<table>
    @foreach (var mod in Model)
    {
        <tr>
            <td>@mod.Name</td>
            <td>@mod.Description</td>
            <td>@mod.Author</td>
            <td>@mod.ReleaseDate</td>
        </tr>
    }
</table>