<h2>About Me</h2>
<p>I am a gamer and modder who enjoys working with Gigantic (2017). I mostly focus on fixing bugs and improving the overall gameplay for the small community that plays it.</p>
<p>I enjoy quite a lot of other games as well, including MOBA's such as Deadlock, Team Hero Shooters such as Paladins, and various other genres/games, such as Oneshot.</p>