<div class="card shadow-sm">
    <div class="card-body">
        <h2>About Me</h2>

        <p>
            I am a gamer and modder focused on improving Gigantic (2017)
            through gameplay balance changes and bug fixes.
            I enjoy various other games as well, but Gigantic's unique mechanics has me still playing it despite the lack of official support.
        </p>

        <p>
            I enjoy reverse-engineering systems and improving game feel through mods.
        </p>
    </div>
</div>